/* Error: Undefined mixin.
 *    ,
 * 11 | /     @include tabletNav {
 * 12 | |         flex-direction: column;
 * 13 | |         position: static;
 * 14 | \     }
 *    '
 *   scss\components\_header.scss 11:5  @import
 *   scss\estilos.scss 3:9              root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 11 \2502  \250c      @include tabletNav {\a 12 \2502  \2502          flex-direction: column;\a 13 \2502  \2502          position: static;\a 14 \2502  \2514      }\a    \2575 \a   scss\\components\\_header.scss 11:5  @import\a   scss\\estilos.scss 3:9              root stylesheet";
}
