@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;700;900&family=Sedgwick+Ave+Display&display=swap');
* {
    margin: 0;
    padding: 0;
}

/*-------HEADER-------*/
header{/*copiado*/
    background-color: rgb(134, 29, 29);
    color: rgb(255, 255, 255);
    position: sticky; 
    width: 100%;
    top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;    
    padding: 15px;    
    z-index: 1000;
}
header nav ul{/*copiado*/
    display: flex;
}
header nav ul li{/*copiado*/
    margin: 18px 5px 6px 5px;
    font-size: 15px;
    font-family: 'Noto Sans';
}
header nav ul li:hover{
        box-shadow: 0 -5px 0px #fff inset,
        500px 0 0 rgba(255,255,255,0.03) inset;
        transition: 1s ease;
}
header nav ul li a{/*copiado*/
    text-decoration: none;
    color: white;
}/*Le quita las líneas inferiores a los textos por haber entrado previamente.*/
header nav ul li{/*copiado*/
    list-style: none;
}/*Ordena los elementos de la lista en una fila*/
header h1{/*copiado*/    
    font-family: 'Sedgwick Ave Display';
    font-size: 40px;
    margin: 10px;
}
header nav ul li a:hover{/*copiado*/
    text-decoration: none;
    color: rgb(0, 185, 195);
}

/*-------MAIN-------*/
main{/*copiado*/
    background-color: rgb(255, 255, 255);
    font-family: 'Noto Sans';
    display: flex;
    flex-direction: column;
}
main form{/*copiado*/
    display: flex;
    flex-direction: column;
}
main form input{/*copiado*/
    align-items: center;
}
main h2{/*copiado*/
    font-size: 25px;
    margin-left: 20px;
    margin-top: 20px;
}
main p{/*copiado*/
    margin-left: 20px;
    margin-top: 20px;
}
main section ul div{/*copiado*/
    display: flex;    
}
main section ul div img{/*copiado*/
    justify-content: center;
}
.hero p{/*copiado*/
    margin: 0;
    font-size: 15px;
    padding: 530px 0px 0px 0px;
}
/*-------FOOTER--------*/
footer{/*copiado*/
    background-color: rgb(255, 255, 255);
    font-family: 'Noto Sans';
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
footer div a{/*copiado*/
    margin: 5px;
}
.hero{/*copiado*/
    background-image: url(../img/Fondo.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 550px;
    width: 100%;
    color: rgb(255, 255, 255);
    font-family: 'Noto Sans';
    justify-content: flex-start;    
}
section {
    color: rgb(0, 0, 0);
    font-family: 'Noto Sans';
}
.centrar{/*copiado*/
    display: flex;
    flex-direction: column;
}
.centrar p{/*copiado*/
    margin: 50px 50px 0px 50px;
    font-size: 16px;
    text-align: justify;
    justify-content: center;
}
.centrar li{
    margin: 0px 50px 0px 50px;
    font-size: 15px;
}
.home{
    display: flex;
}
.centrar iframe{/*copiado*/
    justify-content: center;       
}

/*----------------------------Nuevo-----------------------------*/
body {/*copiado*/
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-family: 'Noto Sans';
}
p {/*copiado*/
    margin: 1em auto;
}
body main section ul li{/*copiado*/
    font-size: 20px;
}
body main section ul p{/*copiado*/
    text-align:justify;
}
body main section ul div{/*copiado*/
    padding: 10px;
}
body main section ol li{/*copiado*/
    font-size: 16px;
    font-family: 'Noto Sans';
}
form {
    width: 60vw;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
    padding-bottom: 2em;
}
fieldset {
    border: none;
    padding: 2rem 0;
    border-bottom: 3px solid rgb(134, 29, 29);
}
fieldset:last-of-type {
    border-bottom: none;
}
label {
    display: block;
    margin: 0.5rem 0;
}
input, textarea, select {
    margin: 10px 0 0 0;
    width: 100%;
    min-height: 2em;
}
input, textarea {
    background-color: rgb(164, 159, 159);
    border: 1px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
}
.inline {
    width: unset;
    margin: 0 0.5em 0 0;
    vertical-align: middle;
}
input[type="submit"] {
    width: 60%;
    margin: 1em auto;
    height: 2em;
    font-size: 1.1rem;
    background-color: rgb(134, 29, 29);
    border-color: rgb(134, 29, 29);
    min-width: 300px;
}
input[type="file"] {
    padding: 1px 2px;
}
/*-----------------Flexbox-----------------*/
.home{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 90%;
    margin: auto;
}
.title{
    display: flex;
    justify-content: flex-start;
}
.redesFlex{
    align-items: flex-end;
}
.gradienteHeader{
    background-image: linear-gradient(to right, rgb(177, 18, 18),rgb(77, 3, 3));
}

/*------------Galería Grid------------*/
.containerImg{/*copiado*/
    width: 100%;
    max-width: 1100px;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 60px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 250px;
    grid-gap: 20px;
}
.containerImg .boxImg figure{/*copiado*/
    width: 100%;
    height: 100%;
}
.containerImg .boxImg img{/*copiado*/
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.containerImg .boxImg:nth-child(1){/*copiado*/
    grid-column-start: span 2;
}
.containerImg .boxImg:nth-child(4){/*copiado*/
    grid-row-start: span 2;
}
.containerMap{
    padding: 10px;
}
/*------------Media query------------*/
@media screen and (max-width:800px){/*copiado*/
    .containerImg{
        width: 95%;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        grid-template-rows: 200px;
    }
    .containerImg .boxImg:nth-child(1){/*copiado*/
        grid-column-start: span 1;
    }
}
@media screen and (max-width:500px){/*copiado*/
    .containerImg{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
    }
    .containerImg .boxImg img{/*copiado*/
        height: 200px;
    }
}
@media screen and (max-width: 450px){/*copiado*/
    header nav ul {
        flex-direction: column;
        text-align: center;                       
    }
}
@media screen and (max-width: 700px){/*copiado*/
    header {
        flex-direction: column;
        position: static;
    }
}
@media screen and (max-width:800px){/*copiado*/
    .containerElement{
        width: 95%;
        display: flex;
        justify-content: center;
    }
    .containerElement img{/*copiado*/        
        height: 380px;
        width: 550px;
    }
}
@media screen and (max-width:570px){/*copiado*/
    .containerElement{
        width: 90%;
        display: flex;
        justify-content: center;
    }
    .containerElement iframe{/*copiado*/        
        height: 250px;
        width: 350px;
    }
    .containerElement img{/*copiado*/        
        height: 250px;
        width: 350px;
    }
    .carousel{    
        width: 90%;
        display: flex;
        justify-content: center;
    }
    .carousel img{
        height: 250px;
        width: 350px;
    }
    .carousel, .carousel-inner > .carousel-item > img {
        height: 280px;
    }
}
@media screen and (max-width:350px){/*copiado*/
    .containerElement{
        width: 90%;
        display: flex;
        justify-content: center;
    }
    .containerElement iframe{/*copiado*/        
        height: 200px;
        width: 300px;
    }
    .containerElement img{/*copiado*/        
        height: 200px;
        width: 300px;
    }
    .carousel-item{    
        width: 90%;
        display: flex;
        justify-content: center;
    }
    .carousel-item img{
        height: 250px;
        width: 350px;
    }
}
/*----------Bootstrap----------*/
.carousel{    
    margin: 20px;
}
.carousel img{
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 550px;
    width: 60%;
}

/*----------Hamburger----------*/
.hamburger{
    position: relative;
    width: 30px;
    height: 4px;
    background: #fff;
    border-radius: 10px;
    cursor: pointer;
    z-index: 2;
    transition: 0.3s;
}
.hamburger::before,
.hamburger::after{
    content: "";
    position: absolute;
    height: 4px;
    right: 0;
    background: #fff;
    border-radius: 10px;
    transition: 0.3s;
}
.hamburger::before{
    top: -10px;
    width: 20px;
}
.hamburger::after{
    top: 10px;
    width: 25px;
}
.toggle-menu{
    position: absolute;
    width: 30px;
    height: 100%;
    z-index: 3;
    cursor: pointer;
    
}

.navigation input:checked ~ .hamburger{
    background: transparent;
}
.navigation input:checked ~ .hamburger:before{
    top: 0;
    transform: rotate(-45deg);
    width: 30px;
}
.navigation input:checked ~ .hamburger:after{
    top: 0;
    transform: rotate(45deg);
    width: 30px;
}