@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;700;900&family=Sedgwick+Ave+Display&display=swap');
* {
    margin: 0;
    padding: 0;
}
/*-------HEADER-------*/
header{
    background-color: rgb(134, 29, 29);
    color: rgb(255, 255, 255);
    position: sticky; 
    top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}
header nav ul{
    margin: 10px;
    display: flex;
}
header nav ul li{
    margin: 18px 5px 18px 5px;
    font-size: 15px;
    font-family: 'Noto Sans';    
}
header nav ul li a{
    text-decoration: none;
    color: white;
}/*Le quita las líneas inferiores a los textos por haber entrado previamente.*/
header nav ul li{
    list-style: none;
}/*Ordena los elementos de la lista en una fila*/
header h1{    
    font-family: 'Sedgwick Ave Display';
    font-size: 45px;
}

/*-------MAIN-------*/
main{
    background-color: rgb(255, 255, 255);
    font-family: 'Noto Sans';
}
.hero p{
    margin: 0px;
    font-size: 15px;
    padding: 530px 0px 0px 0px;
}
/*-------FOOTER--------*/
footer{
    background-color: rgb(255, 255, 255);
    font-family: 'Noto Sans';
    display: flex;
    justify-content: flex-start;
    margin: 10px;
}
.hero{
    background-image: url(../img/Fondo.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 550px;
    color: rgb(255, 255, 255);
    font-family: 'Noto Sans';
    
}
section {
    color: rgb(0, 0, 0);
    font-family: 'Noto Sans';
}
.centrar p{
    margin: 50px 50px 0px 50px;
    font-size: 16px;
    text-align: justify;
}
.centrar li{
    margin: 0px 50px 0px 50px;
    font-size: 15px;
}
.centrar iframe{
    margin: 50px 0px 50px 50px;
}
/*----------------------------Nuevo-----------------------------*/
body {
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-family: 'Noto Sans';
}
p {
    margin: 1em auto;
}
body main section ul li{
    font-size: 20px;
}
body main section ul p{
    text-align:justify;
}
body main section ul div{
    padding: 10px;
}
body main section ol li{
    font-size: 16px;
    font-family: 'Noto Sans';
}
form {
    width: 60vw;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
    padding-bottom: 2em;
}
fieldset {
    border: none;
    padding: 2rem 0;
    border-bottom: 3px solid rgb(134, 29, 29);
}
fieldset:last-of-type {
    border-bottom: none;
}
label {
    display: block;
    margin: 0.5rem 0;
}
input, textarea, select {
    margin: 10px 0 0 0;
    width: 100%;
    min-height: 2em;
}
input, textarea {
    background-color: rgb(164, 159, 159);
    border: 1px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
}
.inline {
    width: unset;
    margin: 0 0.5em 0 0;
    vertical-align: middle;
}
input[type="submit"] {
    width: 60%;
    margin: 1em auto;
    height: 2em;
    font-size: 1.1rem;
    background-color: rgb(134, 29, 29);
    border-color: rgb(134, 29, 29);
    min-width: 300px;
}
input[type="file"] {
    padding: 1px 2px;
}
/*-----------------Flexbox-----------------*/
.contenedorFlexbox{
    display: flex;
    justify-content: space-around;
    font-family: 'Noto Sans';
    font-size: 20px;
    color: rgb(255, 255, 255);
    padding: 0;
    
}
.home{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 90%;
    margin: auto;
}
.title{
    display: flex;
    justify-content: flex-start;
}
.redesFlex{
    align-items: flex-end;
}
/*-----------------Grid-----------------*/
.gridContainer{
    display: grid;
    margin: 0px;    
    column-gap: 20px;
}
.gridItems{
    border: solid 2px rgb(85, 47, 47);
    background-color: rgb(126, 126, 126);
    padding: 20px;
}