@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;700;900&family=Sedgwick+Ave+Display&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;    
    text-decoration: none;
    font-family: 'Noto Sans';
}

/*-------HEADER-------*/
header{
    background-color: rgb(134, 29, 29);
    color: rgb(255, 255, 255);
    position: fixed; 
    width: 100%;
    top: 0px;
    padding: 15px;    
    z-index: 1000;
}
header h1{/*copiado*/    
    font-family: 'Sedgwick Ave Display';
    font-size: 40px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem;
    height: 75px;
    line-height: 75px;
    background-color: rgb(134, 29, 29);
}

nav .navbar-brand {
    color: #ffffff;
    font-size: 40px;
    font-weight: 500;
    letter-spacing: .5px;
}

nav .nav-list {
    display: flex;
    list-style: none;
}

nav .nav-list .nav-item {
    cursor: pointer;
    height: 100%;
    padding: 0 20px;    
    transition: .4s;
}

nav .nav-list .nav-item:hover {
    background: #000000;
}

nav .nav-list .nav-link {
    color: #f1f1f1;
    font-size: 18px;
    font-weight: 500;
}

nav .navbar-toggler {
    display: none;
    height: min-content;
    margin: 18px 10px 0 0;
    cursor: pointer;
}

nav .navbar-toggler .bar {
    width: 40px;
    height: 5px;
    margin-bottom: 10px;
    background: #ffffff;
    border-radius: 10%;
    transition: .4s;
}

.inputNav {
    display: none;
}

input:checked~header nav .nav-list {
    transform: translateY(0);
}

input:checked~header nav .navbar-toggler {
    margin-top: 35px;
}

input:checked~header nav .navbar-toggler .bar:nth-child(1) {
    position: absolute;
    transform: rotate(45deg);
    margin: -45px 0px 0 0;
}

input:checked~header nav .navbar-toggler .bar:nth-child(2) {
    display: none;
}

input:checked~header nav .navbar-toggler .bar:nth-child(3) {
    transform: rotate(-45deg);
    margin: -45px 0px 0 0;
}

/*main*/
main{/*copiado*/
    background-color: rgb(255, 255, 255);
    font-family: 'Noto Sans';
    display: flex;
    flex-direction: column;
    margin-top: 108px;
}
main form{/*copiado*/
    display: flex;
    flex-direction: column;
}
main form input{/*copiado*/
    align-items: center;
}
main h2{/*copiado*/
    font-size: 25px;
    margin-left: 20px;
    margin-top: 20px;
}
main p{/*copiado*/
    margin-left: 20px;
    margin-top: 20px;
}
main section ul div{/*copiado*/
    display: flex;    
}
main section ul div img{/*copiado*/
    justify-content: center;
}
.hero p{/*copiado*/
    margin: 0;
    font-size: 15px;
    padding: 530px 0px 0px 0px;
}
.margen {
    margin-top: 50px;
}
/*-------FOOTER--------*/
footer{/*copiado*/
    background-color: rgb(255, 255, 255);
    font-family: 'Noto Sans';
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
footer div a{/*copiado*/
    margin: 5px;
}
footer div {
    margin-bottom: 30px;
}
.hero{/*copiado*/
    background-image: url(../img/Fondo.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 550px;
    width: 100%;
    color: rgb(255, 255, 255);
    font-family: 'Noto Sans';
    justify-content: flex-start;    
}
section {
    color: rgb(0, 0, 0);
    font-family: 'Noto Sans';
}
.centrar{/*copiado*/
    display: flex;
    flex-direction: column;
}
.centrar p{/*copiado*/
    margin: 50px 50px 0px 50px;
    font-size: 16px;
    text-align: justify;
    justify-content: center;
}
.centrar li{
    margin: 0px 50px 0px 50px;
    font-size: 15px;
    text-align: justify;
}
.home{
    display: flex;
}
.centrar iframe{/*copiado*/
    justify-content: center;       
}
/*body*/
body {/*copiado*/
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-family: 'Noto Sans';
}
p {/*copiado*/
    margin: 1em auto;
}
body main section ul li{/*copiado*/
    font-size: 20px;
}
body main section ul p{/*copiado*/
    text-align:justify;
}
body main section ul div{/*copiado*/
    padding: 10px;
}
body main section ol li{/*copiado*/
    font-size: 16px;
    font-family: 'Noto Sans';
}
form {
    width: 60vw;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
    padding-bottom: 2em;
}
fieldset {
    border: none;
    padding: 2rem 0;
    border-bottom: 3px solid rgb(134, 29, 29);
}
fieldset:last-of-type {
    border-bottom: none;
}
label {
    display: block;
    margin: 0.5rem 0;
}
input, textarea, select {
    margin: 10px 0 0 0;
    width: 100%;
    min-height: 2em;
}
input, textarea {
    background-color: rgb(164, 159, 159);
    border: 1px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
}
.inline {
    width: unset;
    margin: 0 0.5em 0 0;
    vertical-align: middle;
}
input[type="submit"] {
    width: 60%;
    margin: 1em auto;
    height: 2em;
    font-size: 1.1rem;
    background-color: rgb(134, 29, 29);
    border-color: rgb(134, 29, 29);
    min-width: 300px;
}
input[type="file"] {
    padding: 1px 2px;
}
/*-----------------Flexbox-----------------*/
.home{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 90%;
    margin: auto;
}
.title{
    display: flex;
    justify-content: flex-start;
}
.redesFlex{
    align-items: flex-end;
}
.gradienteHeader{
    background-image: linear-gradient(to right, rgb(177, 18, 18),rgb(77, 3, 3));
}
/*------------Galería Grid------------*/
.containerImg{/*copiado*/
    width: 100%;
    max-width: 1100px;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 60px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 250px;
    grid-gap: 20px;
}
.containerImg .boxImg figure{/*copiado*/
    width: 100%;
    height: 100%;
}
.containerImg .boxImg img{/*copiado*/
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.containerImg .boxImg:nth-child(1){/*copiado*/
    grid-column-start: span 2;
}
.containerImg .boxImg:nth-child(4){/*copiado*/
    grid-row-start: span 2;
}
.containerMap{
    padding: 10px;
}

/*------------Media query------------*/



@media (max-width: 962px) {
    header{
        background-image: linear-gradient(to right, rgb(177, 18, 18),rgb(77, 3, 3));
    }
    nav {
        background-color: rgb(134, 29, 29);
    }
    nav .nav-list {
        display: grid;
        position: absolute;
        background-image: linear-gradient(to right, rgb(177, 18, 18),rgb(77, 3, 3));
        width: 100%;
        top: 75px;
        left: 0;
        transform: translateY(-100%);
        z-index: -1;
        transition: .6s;
    }
    nav .nav-list .nav-item {
        padding-left: 35px;
    }
    nav .navbar-toggler {
        display: grid !important;
        align-content: center;
        align-items: center;
        height: 100%;
        margin: 2px 10px 0 0;
    }
    .containerImg{
        width: 95%;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        grid-template-rows: 200px;
    }
    .containerImg .boxImg:nth-child(1){
        grid-column-start: span 1;
    }
    main{
        margin-top: 105px;
    }
    .containerElement{
        width: 95%;
        display: flex;
        justify-content: center;
    }
    .containerElement img{/*copiado*/        
        height: 380px;
        width: 550px;
    }
}

@media screen and (max-width:570px){/*copiado*/
    main{
        margin-top: 105px;
    }
    .containerElement{
        width: 90%;
        display: flex;
        justify-content: center;
    }
    .containerElement iframe{/*copiado*/        
        height: 250px;
        width: 350px;
    }
    .containerElement img{/*copiado*/        
        height: 250px;
        width: 350px;
    }
    .carousel{    
        width: 90%;
        display: flex;
        justify-content: center;
    }
    .carousel img{
        height: 250px;
        width: 350px;
    }
    .carousel, .carousel-inner > .carousel-item > img {
        height: 280px;
    }
}

@media screen and (max-width:500px){/*copiado*/
    .containerImg{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
    }
    .containerImg .boxImg img{/*copiado*/
        height: 200px;
    }
}

@media screen and (max-width:349px){/*copiado*/
    .containerElement{
        width: 90%;
        display: flex;
        justify-content: center;
    }
    .containerElement iframe{/*copiado*/        
        height: 200px;
        width: 300px;
    }
    .containerElement img{/*copiado*/        
        height: 200px;
        width: 300px;
    }
    .carousel-item{    
        width: 90%;
        display: flex;
        justify-content: center;
    }
    .carousel-item img{
        height: 250px;
        width: 300px;
    }
}

/*----------Bootstrap----------*/
.carousel{    
    margin: 20px;
}
.carousel img{
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 550px;
    width: 60%;
}