main{
    background-color: rgb(255, 255, 255);
    font-family: 'Noto Sans';
    display: flex;
    flex-direction: column;
    margin-top: 108px;
    form{
        display: flex;
        flex-direction: column;
        input{
            align-items: center;
        }
    }
    h2{
        font-size: 25px;
        margin-left: 20px;
        margin-top: 20px;
    }
    p{
        margin-left: 20px;
        margin-top: 20px;
    }
    section {
        ul {
            li {
                font-size: 20px;
            }
            p {
                text-align:justify;
            }
            div{
                display: flex;  
                padding: 10px;
                img{
                    justify-content: center;
                }  
            }         
        }
        ol {
            li {
                font-size: 16px;
    font-family: 'Noto Sans';
            }
        }
    }
    
}